.flag-el {
  width: 18px;
  height: 12px;
  vertical-align: -1px;
}

.flag-iihf {
  width: 16px;
  height: 11px;
  vertical-align: 0;
}

/*  SZLH SPRITES */

.ZVO-small {
    background: url('../img/vlajky/szlh_sprites.png') 0 0;
}

.TRE-small {
    background: url('../img/vlajky/szlh_sprites.png') -18px 0;
}

.MAR-small {
    background: url('../img/vlajky/szlh_sprites.png') -36px 0;
}

.PHC-small {
    background: url('../img/vlajky/szlh_sprites.png') -54px 0;
}

.BBS-small {
    background: url('../img/vlajky/szlh_sprites.png') 0 -12px;
}

.NIT-small {
    background: url('../img/vlajky/szlh_sprites.png') -18px -12px;
}

.POP-small {
    background: url('../img/vlajky/szlh_sprites.png') -36px -12px;
}

.KOS-small {
    background: url('../img/vlajky/szlh_sprites.png') 0 -24px;
}

.ZIL-small {
    background: url('../img/vlajky/szlh_sprites.png') -18px -24px;
}

.PIS-small {
    background: url('../img/vlajky/szlh_sprites.png') -36px -24px;
}

.SKA-small {
    background: url('../img/vlajky/szlh_sprites.png') 0 -36px;
}

.S20-small {
    background: url('../img/vlajky/szlh_sprites.png') -18px -36px;
}

.LMI-small {
    background: url('../img/vlajky/szlh_sprites.png') -36px -36px;
}

.SKI-small {
    background: url('../img/vlajky/szlh_sprites.png') 0 -48px;
}

.SNV-small {
    background: url('../img/vlajky/szlh_sprites.png') -18px -48px;
}

.TOP-small {
    background: url('../img/vlajky/szlh_sprites.png') -36px -48px;
}

.NZO-small {
    background: url('../img/vlajky/szlh_sprites.png') 0px -60px;
}

.DTV-small {
    background: url('../img/vlajky/szlh_sprites.png') -18px -60px;
}

.MIJ-small {
    background: url('../img/vlajky/szlh_sprites.png') -36px -60px;
}

.MAC-small {
    background: url('../img/vlajky/szlh_sprites.png') 0 -72px;
}

.MII-small {
    background: url('../img/vlajky/szlh_sprites.png') -36px -72px;
}

.HCH-small {
    background: url('../img/vlajky/szlh_sprites.png') -54px -12px;
}

/*  KHL SPRITES */

.CSK-small {
    background: url('../img/vlajky/khl_sprites.png') 0 0;
}

.JOK-small {
    background: url('../img/vlajky/khl_sprites.png') -18px 0;
}

.LOK-small {
    background: url('../img/vlajky/khl_sprites.png') -36px 0;
}

.TNN-small {
    background: url('../img/vlajky/khl_sprites.png') -54px 0;
}

.ZAG-small {
    background: url('../img/vlajky/khl_sprites.png') -72px 0;
}

.DYN-small {
    background: url('../img/vlajky/khl_sprites.png') -90px 0;
}

.PET-small {
    background: url('../img/vlajky/khl_sprites.png') 0 -12px;
}

.VIT-small {
    background: url('../img/vlajky/khl_sprites.png') -18px -12px;
}

.SOC-small {
    background: url('../img/vlajky/khl_sprites.png') -36px -12px;
}

.DMN-small {
    background: url('../img/vlajky/khl_sprites.png') -54px -12px;
}

.SBA-small {
    background: url('../img/vlajky/khl_sprites.png') -72px -12px;
}

.SPA-small {
    background: url('../img/vlajky/khl_sprites.png') -90px -12px;
}

.DIR-small {
    background: url('../img/vlajky/khl_sprites.png') 0 -24px;
}

.SEV-small {
    background: url('../img/vlajky/khl_sprites.png') -18px -24px;
}

.SIB-small {
    background: url('../img/vlajky/khl_sprites.png') -36px -24px;
}

.AVT-small {
    background: url('../img/vlajky/khl_sprites.png') -54px -24px;
}

.AVA-small {
    background: url('../img/vlajky/khl_sprites.png') -72px -24px;
}

.MMG-small {
    background: url('../img/vlajky/khl_sprites.png') -90px -24px;
}

.SAL-small {
    background: url('../img/vlajky/khl_sprites.png') 0 -36px;
}

.YUG-small {
    background: url('../img/vlajky/khl_sprites.png') -18px -36px;
}

.AKB-small {
    background: url('../img/vlajky/khl_sprites.png') -36px -36px;
}

.NKH-small {
    background: url('../img/vlajky/khl_sprites.png') -54px -36px;
}

.VLA-small {
    background: url('../img/vlajky/khl_sprites.png') -72px -36px;
}

.BAR-small {
    background: url('../img/vlajky/khl_sprites.png') -90px -36px;
}

.AMU-small {
    background: url('../img/vlajky/khl_sprites.png') 0 -48px;
}

.TRA-small {
    background: url('../img/vlajky/khl_sprites.png') -18px -48px;
}

.LAD-small {
    background: url('../img/vlajky/khl_sprites.png') -36px -48px;
}

.MNK-small {
    background: url('../img/vlajky/khl_sprites.png') -54px -48px;
}

.ATM-small {
    background: url('../img/vlajky/khl_sprites.png') -72px -48px;
}

.DON-small {
    background: url('../img/vlajky/khl_sprites.png') -90px -48px;
}

.LEV-small {
    background: url('../img/vlajky/khl_sprites.png') 0 -60px;
}

.KUN-small {
    background: url('../img/vlajky/khl_sprites.png') -18px -60px;
}

/*  NHL SPRITES */

.ANA-small {
    background: url('../img/vlajky/nhl_sprites.png') 0 0;
}

.UTA-small {
    background: url('../img/vlajky/nhl_sprites.png') -18px 0;
}

.BOS-small {
    background: url('../img/vlajky/nhl_sprites.png') -36px 0;
}

.BUF-small {
    background: url('../img/vlajky/nhl_sprites.png') -54px 0;
}

.CGY-small {
    background: url('../img/vlajky/nhl_sprites.png') -72px 0;
}

.CAR-small {
    background: url('../img/vlajky/nhl_sprites.png') -90px 0;
}

.CHI-small {
    background: url('../img/vlajky/nhl_sprites.png') 0 -12px;
}

.COL-small {
    background: url('../img/vlajky/nhl_sprites.png') -18px -12px;
}

.CBJ-small {
    background: url('../img/vlajky/nhl_sprites.png') -36px -12px;
}

.DAL-small {
    background: url('../img/vlajky/nhl_sprites.png') -54px -12px;
}

.DET-small {
    background: url('../img/vlajky/nhl_sprites.png') -72px -12px;
}

.EDM-small {
    background: url('../img/vlajky/nhl_sprites.png') -90px -12px;
}

.FLA-small {
    background: url('../img/vlajky/nhl_sprites.png') 0 -24px;
}

.LAK-small {
    background: url('../img/vlajky/nhl_sprites.png') -18px -24px;
}

.MIN-small {
    background: url('../img/vlajky/nhl_sprites.png') -36px -24px;
}

.MTL-small {
    background: url('../img/vlajky/nhl_sprites.png') -54px -24px;
}

.NSH-small {
    background: url('../img/vlajky/nhl_sprites.png') -72px -24px;
}

.NJD-small {
    background: url('../img/vlajky/nhl_sprites.png') -90px -24px;
}

.NYI-small {
    background: url('../img/vlajky/nhl_sprites.png') 0 -36px;
}

.NYR-small {
    background: url('../img/vlajky/nhl_sprites.png') -18px -36px;
}

.OTT-small {
    background: url('../img/vlajky/nhl_sprites.png') -36px -36px;
}

.PHI-small {
    background: url('../img/vlajky/nhl_sprites.png') -54px -36px;
}

.PIT-small {
    background: url('../img/vlajky/nhl_sprites.png') -72px -36px;
}

.SJS-small {
    background: url('../img/vlajky/nhl_sprites.png') -90px -36px;
}

.STL-small {
    background: url('../img/vlajky/nhl_sprites.png') 0 -48px;
}

.TBL-small {
    background: url('../img/vlajky/nhl_sprites.png') -18px -48px;
}

.TOR-small {
    background: url('../img/vlajky/nhl_sprites.png') -36px -48px;
}

.VAN-small {
    background: url('../img/vlajky/nhl_sprites.png') -54px -48px;
}

.WSH-small {
    background: url('../img/vlajky/nhl_sprites.png') -72px -48px;
}

.WPG-small {
    background: url('../img/vlajky/nhl_sprites.png') -90px -48px;
}

.VGK-small {
    background: url('../img/vlajky/nhl_sprites.png') 0 -60px;
}

.SEA-small {
    background: url('../img/vlajky/nhl_sprites.png') -18px -60px;
}

/*  IIHF SPRITES */

.NA-small {
    background: url('../img/vlajky/iihf_sprites.png') 0 0;
}

.USA-small {
    background: url('../img/vlajky/iihf_sprites.png') -16px 0;
}

.AUT-small {
    background: url('../img/vlajky/iihf_sprites.png') -32px 0;
}

.BLR-small {
    background: url('../img/vlajky/iihf_sprites.png') -48px 0;
}

.NOR-small {
    background: url('../img/vlajky/iihf_sprites.png') -64px 0;
}

.CAN-small {
    background: url('../img/vlajky/iihf_sprites.png') -80px 0;
}

.CZE-small {
    background: url('../img/vlajky/iihf_sprites.png') 0 -11px;
}

.DEN-small {
    background: url('../img/vlajky/iihf_sprites.png') -16px -11px;
}

.EUR-small {
    background: url('../img/vlajky/iihf_sprites.png') -32px -11px;
}

.FIN-small {
    background: url('../img/vlajky/iihf_sprites.png') -48px -11px;
}

.FRA-small {
    background: url('../img/vlajky/iihf_sprites.png') -64px -11px;
}

.GER-small {
    background: url('../img/vlajky/iihf_sprites.png') -80px -11px;
}

.HUN-small {
    background: url('../img/vlajky/iihf_sprites.png') 0 -22px;
}

.ITA-small {
    background: url('../img/vlajky/iihf_sprites.png') -16px -22px;
}

.JPN-small {
    background: url('../img/vlajky/iihf_sprites.png') -32px -22px;
}

.KAZ-small {
    background: url('../img/vlajky/iihf_sprites.png') -48px -22px;
}

.LAT-small {
    background: url('../img/vlajky/iihf_sprites.png') -64px -22px;
}

.RUS-small {
    background: url('../img/vlajky/iihf_sprites.png') -80px -22px;
}

.UKR-small {
    background: url('../img/vlajky/iihf_sprites.png') 0 -33px;
}

.SVK-small {
    background: url('../img/vlajky/iihf_sprites.png') -16px -33px;
}

.SLO-small {
    background: url('../img/vlajky/iihf_sprites.png') -32px -33px;
}

.SUI-small {
    background: url('../img/vlajky/iihf_sprites.png') -48px -33px;
}

.SWE-small {
    background: url('../img/vlajky/iihf_sprites.png') -64px -33px;
}

.KOR-small {
    background: url('../img/vlajky/iihf_sprites.png') -80px -33px;
}

.GBR-small {
    background: url('../img/vlajky/iihf_sprites.png') 0 -44px;
}

.CHN-small {
    background: url('../img/vlajky/iihf_sprites.png') -16px -44px;
}

.POL-small {
    background: url('../img/vlajky/iihf_sprites.png') -32px -44px;
}