RewriteEngine on
RewriteBase /

# force ssl
RewriteCond     %{SERVER_PORT} ^80$
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

# serve WebP images if possible and if file exists
RewriteCond %{HTTP_ACCEPT} image/webp
RewriteCond %{REQUEST_URI}  (?i)(.*)(\.jpe?g|\.png)$ 
RewriteCond %{DOCUMENT_ROOT}%1.webp -f
RewriteRule (?i)(.*)(\.jpe?g|\.png)$ %1\.webp [L,T=image/webp,R] 

<IfModule mod_headers.c>
  Header append Vary Accept env=REDIRECT_accept
</IfModule>

AddType image/webp .webp

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^login/?$ /login.php [NC,L]
RewriteRule ^logout/?$ /includes/login.php?logout=1 [NC,L]
RewriteRule ^register/?$ /register.php [NC,L]
RewriteRule ^news/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=articles&id=$1 [NC,L]
RewriteRule ^category/([a-zA-Z-_0-9_/]+)/([a-zA-Z-_0-9_/]+)/?$ /index.php?topicID=$1&page=$2 [NC,L]
RewriteRule ^category/([a-zA-Z-_0-9_/]+)/?$ /index.php?topicID=$1 [NC,L]
RewriteRule ^team/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=teams&id=$1 [NC,L]
RewriteRule ^player/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=players&pid=$1 [NC,L]
RewriteRule ^goalie/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=players&gid=$1 [NC,L]
RewriteRule ^game/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=games&gid=$1 [NC,L]
RewriteRule ^games/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=games&lid=$1 [NC,L]
RewriteRule ^user/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=users&id=$1 [NC,L]
RewriteRule ^profile/?$ /index.php?p=users&profile=1 [NC,L]
RewriteRule ^alerts/?$ /index.php?p=users&notif=1 [NC,L]
RewriteRule ^table/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=table&lid=$1 [NC,L]
RewriteRule ^stats/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=stats&lid=$1 [NC,L]
RewriteRule ^report/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=report&gid=$1 [NC,L]
RewriteRule ^slovaks/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=players&slovaks=$1 [NC,L]
RewriteRule ^injured/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=players&injured=$1 [NC,L]
RewriteRule ^fantasy/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=fantasy&id=$1 [NC,L]
RewriteRule ^database/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=players&database=$1 [NC,L]
RewriteRule ^database/?$ /index.php?p=players&database=1 [NC,L]
RewriteRule ^privacy/?$ /index.php?p=privacy [NC,L]
RewriteRule ^contact/?$ /index.php?p=contact [NC,L]
RewriteRule ^bets/([a-zA-Z-_0-9_/]+)/?$ /index.php?p=bets&uid=$1 [NC,L]
RewriteRule ^bets/?$ /index.php?p=bets [NC,L]

RewriteRule ^api/team/([a-zA-Z-_0-9_/]+)/([a-zA-Z-_0-9_/]+)/([a-zA-Z-_0-9_/]+)?$ /api/data.php?team=$1&tournament=$2&year=$3&%{QUERY_STRING} [NC,L]
RewriteRule ^api/player/(.+)/([a-zA-Z-_0-9_/]+)?$ /api/data.php?player=1&id=$1&tournament=$2&%{QUERY_STRING} [NC,L]
RewriteRule ^api/player/(.+)?$ /api/data.php?player=1&id=$1&%{QUERY_STRING} [NC,L]
RewriteRule ^api/game/([a-zA-Z-_0-9_/]+)/([a-zA-Z-_0-9_/]+)/([a-zA-Z-_0-9_/]+)?$ /api/data.php?game=1&team1=$1&team2=$2&tournament=$3&%{QUERY_STRING} [NC,L]
RewriteRule ^api/game/([a-zA-Z-_0-9_/]+)?$ /api/data.php?game=$1&%{QUERY_STRING} [NC,L]
RewriteRule ^api/games/([a-zA-Z-_0-9_/]+)/([a-zA-Z-_0-9_/]+)?$ /api/data.php?games=1&tournament=$1&year=$2&%{QUERY_STRING} [NC,L]
RewriteRule ^api/table/([a-zA-Z-_0-9_/]+)/([a-zA-Z-_0-9_/]+)?$ /api/data.php?table=1&tournament=$1&year=$2&%{QUERY_STRING} [NC,L]
RewriteRule ^api/?$ /api/data.php?%{QUERY_STRING} [NC,L]

# REDIRECT STARYCH STRANOK

RewriteCond %{QUERY_STRING} ^page=articles&action=(.+)&article=([0-9]*)$
RewriteRule ^newweb/index\.php$ /news/%2? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=teams&action=show&tid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /team/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=live&action=detail&mid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /report/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=live&mid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /report/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=leagues&action=groups&lid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /table/%1/groups? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=matches&action=detail&mid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /game/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=players&action=show&pid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /player/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=players&action=goalie&gid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /goalie/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=players&action=search$
RewriteRule ^newweb/index\.php$ /database? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=content&systemTitle=tiraz$
RewriteRule ^newweb/index\.php$ /contact? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=playoff&action=series&lid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /table/%1/playoff? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=articles&topicID=([0-9]*)$
RewriteRule ^newweb/index\.php$ /category/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=matches&lid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /games/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=matches&lid=([0-9]*)&sel=(.+)$
RewriteRule ^newweb/index\.php$ /games/%1/%2? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=leagues&action=table&lid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /table/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=leagues&action=stats&lid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /stats/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=leagues&action=injured&lid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /injured/%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^page=(.*)hl&action=slovaci&lid=([0-9]*)$
RewriteRule ^newweb/index\.php$ /slovaks/%2? [R=301,L]

RewriteRule ^newweb/index\.php$ / [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php